@font-face {
    font-family: 'Ubuntu-medium';
    src: url('../fonts/ubuntu-f/Ubuntu-M.ttf');
    src: url('../fonts/ubuntu-f/Ubuntu-M.eot');
    src: url('../fonts/ubuntu-f/Ubuntu-M.otf');
    src: url('../fonts/ubuntu-f/Ubuntu-M.svg');
    src: url('../fonts/ubuntu-f/Ubuntu-M.woff');
}

@font-face {
    font-family: 'Ubuntu-light';
    src: url('../fonts/ubuntu-f/Ubuntu-L.eot');
    src: url('../fonts/ubuntu-f/Ubuntu-L.otf');
    src: url('../fonts/ubuntu-f/Ubuntu-L.svg');
    src: url('../fonts/ubuntu-f/Ubuntu-L.ttf');
    src: url('../fonts/ubuntu-f/Ubuntu-L.woff');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-f/Ubuntu-R.eot');
    src: url('../fonts/ubuntu-f/Ubuntu-R.otf');
    src: url('../fonts/ubuntu-f/Ubuntu-R.svg');
    src: url('../fonts/ubuntu-f/Ubuntu-R.ttf');
    src: url('../fonts/ubuntu-f/Ubuntu-R.woff');
}

@font-face {
    font-family: 'helvetican-neue_light';
    src: url('../fonts/helvetic/helveticaneuecyr-light.eot');
    src: url('../fonts/helvetic/helveticaneuecyr-light.otf');
    src: url('../fonts/helvetic/helveticaneuecyr-light.svg');
    src: url('../fonts/helvetic/helveticaneuecyr-light.ttf');
    src: url('../fonts/helvetic/helveticaneuecyr-light.woff');
}

@font-face {
    font-family: 'helvetica-neue_bold';
    src: url('../fonts/helvetic/helveticaneuecyr-bold.eot');
    src: url('../fonts/helvetic/helveticaneuecyr-bold.otf');
    src: url('../fonts/helvetic/helveticaneuecyr-bold.svg');
    src: url('../fonts/helvetic/helveticaneuecyr-bold.ttf');
    src: url('../fonts/helvetic/helveticaneuecyr-bold.woff');
}

@font-face {
    font-family: 'helvetica-neue';
    src: url('../fonts/helvetic/helveticaneuecyr-roman.eot');
    src: url('../fonts/helvetic/helveticaneuecyr-roman.otf');
    src: url('../fonts/helvetic/helveticaneuecyr-roman.svg');
    src: url('../fonts/helvetic/helveticaneuecyr-roman.ttf');
    src: url('../fonts/helvetic/helveticaneuecyr-roman.woff');
}

body {
    background-color: #242f64;
    height: auto;
}

p {
    margin: 0;
}

.header {
    width: 1140px;
    margin: auto;
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;
    background: url(../image/logo-name.png) no-repeat center center;
    position: relative;
}

.wrapp-top {
    background: #243173 url(../image/circles.png) no-repeat bottom center;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
}

.leng {
    width: 90px;
    height: 40px;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 30px;
    background-color: #243274;
    text-align: left;
    color: white;
    padding-left: 20px;
    font-family: 'helvetican-neue_light';
}

.dropdown-menu>li>a:hover {
    color: #aeb3cb;
    background: none;
}

.dropdown {
    float: right;
    margin: -50px 0 0 0;
}

.dropdown-menu {
    border-radius: 20px;
}

.dropdown-menu {
    margin: -48px 0px;
}

.lenguage {
    font-family: 'helvetica-neue';
    margin: 11px auto;
    font-size: 14px;
    line-height: 5.143;
}

@media (max-width:425px) {
    .dropdown {
        margin: 0 auto;
        ;
        float: none;
    }
}

.arrow-dw {
    display: inline-block;
    margin-left: 20px;
}

.main {
    width: 1140px;
    margin: auto;
}

.face-link {
    border: none;
    border-radius: 30px;
    margin-left: 20px;
    width: 215px;
    /*line-height: 3;*/
}

.btn-txt {
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: normal;
    line-height: 33px;
}

.btn-txt:hover {
    color: #ffffff;
}

.latter-btn {
    float: left;
    margin: 7px 0 0 10px;
    `
}

.sociality-web {
    margin-top: 50px;
    text-align: center;
}

.Google {
    background-color: #e0463a;
}

.Twitter {
    background-color: #55acee;
}

.Facebook {
    background-color: #3b5998;
}

.text-about {
    font-size: 125%;
    font-family: 'Ubuntu-light';
    line-height: 30px;
    color: #ffffff;
    line-height: 1.667;
}

.text-content {
    margin: 75px 0 100px 0;
}


/*********************************************************************************************************/

.t-phones {
    text-align: center;
    padding: 0;
}

.main .row-main-app .t-phones .ich-phone {
    height: 365px;
    width: 300px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.windows .phone {
    background-image: url(../image/wp_full.png);
    background-position: center 115px;
}

.android .phone {
    background-image: url(../image/nexus_full.png);
    background-position: center 75px;
    z-index: 5;
}

.apple .phone {
    background-image: url(../image/apple_full.png);
    background-position: right 110px;
}

.apple .phone:hover {
    z-index: 10
}

.windows .store {
    background: url(../image/win-market.png) no-repeat;
}

.android .store {
    background: url(../image/play-mark.png) no-repeat;
}

.apple .store {
    background: url(../image/app-store.png) no-repeat;
}

.ich-phone .store {
    display: inline-block;
    width: 130px;
    height: 48px;
    background-position: center top;
    position: relative;
    top: 20px;
    z-index: 20;
}

.android .store {
    top: 0px;
}

.apple .store,
.windows .store {
    top: 40px;
}

.ich-phone .phone {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
}

.main .row-main-app .windows {
    margin-right: -100px;
}

.main .row-main-app .ich-phone.apple {
    margin-left: -100px;
}

@media (max-width:768px) {
    .main .row-main-app .windows {
        margin-right: -20%;
    }
    .main .row-main-app .ich-phone.apple {
        margin-left: -20%;
    }
}

@media (max-width:658px) {
    .main .row-main-app .ich-phone .phone {
        background-size: 100% auto;
    }
    .main .row-main-app .t-phones .ich-phone {
        width: 50%;
        height: 50vh;
    }
    .main .row-main-app .windows {
        margin-right: -30%;
    }
    .main .row-main-app .ich-phone.apple {
        margin-left: -30%;
    }
    .ich-phone .android .store {
        top: 40px;
    }
    .apple .store {
        left: 35px;
    }
    .windows .store {
        right: 35px;
    }
    .ich-phone .store {
        background-size: contain;
        width: 50%;
        z-index: 20;
    }
}

@media(max-width:375px) {
    .ich-phone .store {
        background-size: contain;
        width: 65%;
        z-index: 20;
    }
}


/*************************************************************************************************************/

.question {
    font-family: 'Ubuntu-medium';
    color: #fff;
    font-size: 30px;
    line-height: 1.2;
}

.How-it_work {
    text-align: center;
    margin-top: 80px;
}

.answers {
    margin-top: 100px;
    margin-bottom: 200px;
}

.beacon-img {
    background-image: url(../image/ibeacon.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 209px;
    display: block;
    margin: 0 auto;
}

.img {
    margin: 0 auto;
}

.head-answer {
    font-size: 187.5%;
    font-family: "Ubuntu-medium";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-top: 30px;
}

.answers-text {
    font-size: 125%;
    font-family: 'Ubuntu';
    color: #ffffff;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 50px;
    margin-top: 20px;
}

.sprits {
    background-image: url(../image/spritesheet%20.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-F {
    width: 9px;
    height: 20px;
    vertical-align: middle;
    background-position: -10px -10px;
}

.sprite-T {
    width: 21px;
    height: 17px;
    vertical-align: middle;
    background-position: -84px -10px;
}

.sprite-G {
    width: 25px;
    height: 16px;
    vertical-align: middle;
    background-position: -39px -10px;
}

.sprite-arrow_donw {
    width: 8px;
    height: 4px;
    background-position: -275px -10px;
}

.sprite-ibeacon {
    width: 209px;
    height: 200px;
    background-position: -523px -10px;
}

.sprite-explore {
    width: 200px;
    height: 200px;
    background-position: -303px -10px;
}

.sprite-share {
    width: 220px;
    height: 203px;
    background-position: -2023px -10px;
}

@media(max-width:1200px) {
    .header,
    .main {
        width: 950px;
    }
}

@media(max-width:999px) {
    .header,
    .main {
        width: auto;
        padding: 0 20px;
    }
    .header {
        padding-top: 50px;
    }
}

@media(max-width:767px) {
    .face-link {
        display: block;
        margin: 0 auto 25px;
    }
    .t-phone {
        width: auto;
        padding-bottom: 20px;
    }
    .text-content {
        margin-top: 20px
    }
    .wrapp-top {
        height: auto;
    }
}

@media(max-width:425px) {
    .header {
        margin: 40px;
    }
    .dropdown {
        margin: 0 auto;
        position: relative;
        text-align: center;
        float: right;
    }
    .dropdown-menu {
        margin: -48px 0%;
        
    }
    .list-item {
        text-align: center;
    }
}

